Package: nexus
Version: 1.0
Section: unknown
Priority: optional
Depends: bash, openjdk-8-jre, sed, systemd, wget
Architecture: all
Essential: no
Installed-Size: 20
Maintainer: notme <belmymail@gmail.com>
Description: nexsus installation script
